{% extends "base.html" %}

{% block conteudo %}

<p>Empresa especializada no cuidado do seu <strong>PET</strong>.</p>
        
    <ul>
        <li>
            <h4><a href="/produtos">Produtos</a></h4>
            <ul>
                {% for produto in produtos %}
                    <li><a href="/produtos/{{produto[1]}}/detalhes">{{produto[0]}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h4><a href="/servicos">Serviços</h4><a></h4>
            <ul>
                {% for servico in servicos %}
                    <li><a href="/servicos/{{servico[1]}}/detalhes">{{servico[0]}}</a></li>
                {% endfor %}
            </ul>
        </li> 
    </ul>
{% endblock %}